<a href="https://colab.research.google.com/github/mincfranc/capstones/blob/main/11_26_24_Capstone_xL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

11/26/24 Capstone Team Meeting

Farnsworth Unit Data - 202102_FINAL
file path=
"C:\Users\minef\OneDrive\Desktop\Farnsworth Unit Data - 202102_FINAL.xlsx"

In [ ]:
# Save excel workbook with multiple worksheets as a picklefile then import

import pandas as pd
import numpy as np
import pickle
import os

In [ ]:
# File paths
excel_file_path = 'Farnsworth Unit Data - 202102_FINAL.xlsx'
pickle_file_path = 'co2_excel.pickle'

In [ ]:
# Load all sheets into a dictionary of DataFrames
excel_data = pd.read_excel(excel_file_path, sheet_name=None)

In [ ]:
# Save data to pickle file
pickle.dump(excel_data, open(pickle_file_path, 'wb'))

# Reload data from pickle file
loaded_data = pickle.load(open(pickle_file_path, 'rb'))

In [ ]:
# Print sheet names
for sheet_name in loaded_data.keys():
    print(sheet_name)

SWP_Dashboard thru 2-28-2021
Daily Prod_Inj & Pressures
Monthly Prod_Inj
Well Tests
Downtimes
Water Meters
Gas Meters

In [ ]:
# # Print first few rows of each sheet
# for sheet_name, df in loaded_data.items():
#     print(f"\nData from sheet '{sheet_name}':")
#     print(df.head(1))

In [ ]:
# Analyze sheets and include null counts, data types, and total nulls
for sheet_name, df in excel_data.items():
    print(f"\nAnalyzing sheet: {sheet_name}")
    print(f"Shape: {df.shape}")

    # Get null counts and data types
    null_counts = df.isnull().sum()
    dtypes = df.dtypes

    # Combine null counts and data types into a DataFrame
    null_dtypes_df = pd.DataFrame({'Null Counts': null_counts, 'Data Type': dtypes})

    # Print combined DataFrame
    # print("Null counts and data types per column:")
    print(null_dtypes_df)

    # Calculate total nulls in each worksheet
    total_nulls = null_counts.sum()
    print(f"Total Nulls in Worksheet: {total_nulls}")

    # Identify columns with datetime data types
    datetime_columns = df.select_dtypes(include=['datetime']).columns
    print("Datetime columns:", list(datetime_columns))

Analyzing sheet: SWP_Dashboard thru 2-28-2021
Shape: (2528, 10)
                         Null Counts       Data Type
Date                               0  datetime64[ns]
Oil Production (bbls)              0         float64
Water Production (bbls)            0         float64
Water Injection (bbls)             0         float64
Arkalon CO2 (mcf)                 19         float64
Borger CO2 (mcf)                1035         float64
Recycle CO2 (mcf)                  0         float64
Flare (mcf)                       19         float64
External Sources (bbls)         1216         float64
Total Injection (bbls)          1216         float64
Total Nulls in Worksheet: 3505
Datetime columns: ['Date']

Analyzing sheet: Daily Prod_Inj & Pressures
Shape: (95392, 24)
                                 Null Counts       Data Type
Unit Name                                  0          object
API                                        0           int64
District                                   0          object
Field                                  20453          object
Battery                                    0          object
Date                                       0  datetime64[ns]
Downtime                                   0         float64
Operating Time                             0         float64
Allocated HCLiq                        38340         float64
Allocated Gas                          38340         float64
Allocated Water                        38340         float64
Injection Well - Gas                   57052         float64
Injection Well - Water                 57052         float64
Tubing Pressure                        58869         float64
Casing Pressure                        58875         float64
Flowline Pressure                      62166         float64
Choke Size                             64081         float64
Fluid Level Depth                      95131         float64
Gas-Free Fluid Level Above Pump        95131         float64
Fluid Level Above Pump                 95131         float64
Bottomhole Pressure                    88022         float64
Unnamed: 21                            94380         float64
Unnamed: 22                            94380         float64
Unnamed: 23                            95370          object
Total Nulls in Worksheet: 1151113
Datetime columns: ['Date']

Analyzing sheet: Monthly Prod_Inj
Shape: (3136, 13)
                        Null Counts       Data Type
Unit Name                         0          object
API                               0           int64
District                          0          object
Field                             0          object
Battery                           0          object
Start Date                        0  datetime64[ns]
Downtime                          0         float64
Operating Time                    0         float64
Allocated HCLiq                1260         float64
Allocated Gas                  1260         float64
Allocated Water                1260         float64
Injection Well - Gas           1876         float64
Injection Well - Water         1876         float64
Total Nulls in Worksheet: 7532
Datetime columns: ['Start Date']

Analyzing sheet: Well Tests
Shape: (780, 16)
                               Null Counts       Data Type
Unit Name                                0          object
Type                                     0          object
Effective Date                           0  datetime64[ns]
Gas Volume Override                     17         float64
Recovered Lift Gas                     707         float64
Oil/Emulsion Volume Override            19         float64
Water Volume Override                   17         float64
Gas Oil Ratio                           36         float64
Change in Oil/Emulsion Rate             84         float64
% Change in Oil/Emulsion Rate           94         float64
Change in Gas Rate                      84         float64
% Change in Gas Rate                   129         float64
Change in Water Rate                    84         float64
% Change in Water Rate                 104         float64
Change in GOR                          145         float64
% Change in GOR                        145         float64
Total Nulls in Worksheet: 1665
Datetime columns: ['Effective Date']

Analyzing sheet: Downtimes
Shape: (690, 9)
                        Null Counts       Data Type
Unit Name                         0          object
Type of Downtime Entry            0          object
First Day                         0  datetime64[ns]
Downtime on First Day            78         float64
Downtime Code 1                  24          object
Last Day                        108  datetime64[ns]
Downtime on Last Day            679         float64
Total Downtime                  148         float64
Unnamed: 8                      670          object
Total Nulls in Worksheet: 1707
Datetime columns: ['First Day', 'Last Day']

Analyzing sheet: Water Meters
Shape: (9130, 4)
             Null Counts       Data Type
Unit Name              0          object
Meter Name             0          object
Date                   0  datetime64[ns]
End Reading            9         float64
Total Nulls in Worksheet: 9
Datetime columns: ['Date']

Analyzing sheet: Gas Meters
Shape: (9918, 4)
            Null Counts       Data Type
Unit Name             0          object
Gas Meters            0          object
Date                  0  datetime64[ns]
Gas Volume            9         float64
Total Nulls in Worksheet: 9
Datetime columns: ['Date']

In [ ]:
# Loop through each sheet in Excel file
for sheet_name, df in excel_data.items():
    print(sheet_name)

    # Check for datetime columns in each sheet
    datetime_columns = df.select_dtypes(include=['datetime64[ns]']).columns

    if len(datetime_columns) > 0:
        # Display first and last datetime value for each datetime column
        for datetime_column in datetime_columns:
            first_datetime = df[datetime_column].iloc[0]
            last_datetime = df[datetime_column].iloc[-1]
            print(f"Datetime column '{datetime_column}'")
            print(f"First row: {first_datetime}")
            print(f"Last row: {last_datetime}")
            print("-" * 50)  # Separator

SWP_Dashboard thru 2-28-2021
Datetime column 'Date'
First row: 2014-03-26 00:00:00
Last row: 2021-02-28 00:00:00
--------------------------------------------------
Daily Prod_Inj & Pressures
Datetime column 'Date'
First row: 2019-06-01 00:00:00
Last row: 2021-02-28 00:00:00
--------------------------------------------------
Monthly Prod_Inj
Datetime column 'Start Date'
First row: 2019-06-01 00:00:00
Last row: 2021-02-01 00:00:00
--------------------------------------------------
Well Tests
Datetime column 'Effective Date'
First row: 2017-03-14 00:00:00
Last row: 2021-03-01 00:00:00
--------------------------------------------------
Downtimes
Datetime column 'First Day'
First row: 2018-04-01 00:00:00
Last row: 2021-03-08 00:00:00
--------------------------------------------------
Datetime column 'Last Day'
First row: NaT
Last row: NaT
--------------------------------------------------
Water Meters
Datetime column 'Date'
First row: 2018-04-01 00:00:00
Last row: 2021-02-28 00:00:00
--------------------------------------------------
Gas Meters
Datetime column 'Date'
First row: 2018-04-01 00:00:00
Last row: 2021-02-28 00:00:00
--------------------------------------------------

In [ ]:
# Define the date range for filtering
start_date = pd.to_datetime('2019-07-01')
end_date = pd.to_datetime('2019-12-31')

# Dictionary to store filtered data for each sheet
filtered_data = {}

# Loop through each sheet and apply filtering
for sheet_name, df in excel_data.items():
    print(sheet_name)

    # Loop through all datetime columns and apply date filter
    for datetime_column in df.select_dtypes(include=['datetime64[ns]']).columns:
        # Filter the rows based on the date range
        filtered_df = df[(df[datetime_column] >= start_date) & (df[datetime_column] <= end_date)]

        # Save the filtered dataframe into the dictionary
        filtered_data[sheet_name] = filtered_df

        # Output the shape of the filtered data
        print(f"Rows after filtering '{datetime_column}': {filtered_df.shape[0]}")
        print("-" * 50)  # Separator

#filtered_data contains entire filtered DataFrame for each sheet

SWP_Dashboard thru 2-28-2021
Rows after filtering 'Date': 184
--------------------------------------------------
Daily Prod_Inj & Pressures
Rows after filtering 'Date': 27416
--------------------------------------------------
Monthly Prod_Inj
Rows after filtering 'Start Date': 895
--------------------------------------------------
Well Tests
Rows after filtering 'Effective Date': 151
--------------------------------------------------
Downtimes
Rows after filtering 'First Day': 146
--------------------------------------------------
Rows after filtering 'Last Day': 145
--------------------------------------------------
Water Meters
Rows after filtering 'Date': 3060
--------------------------------------------------
Gas Meters
Rows after filtering 'Date': 3615
--------------------------------------------------

In [ ]:
# Loop through the filtered_data dictionary to output each sheet's columns and row numbers
for sheet_name, filtered_df in filtered_data.items():
    print(f"Sheet: {sheet_name}")
    print(f"Columns: {', '.join(filtered_df.columns)}")  # List of columns
    print(f"Rows: {filtered_df.shape[0]}")  # Number of rows
    print(f"Columns: {filtered_df.shape[1]}")  # Number of columns
    print("-" * 50)  # Separator

Sheet: SWP_Dashboard thru 2-28-2021
Columns: Date, Oil Production (bbls), Water Production (bbls), Water Injection (bbls), Arkalon CO2 (mcf), Borger CO2 (mcf), Recycle CO2 (mcf), Flare (mcf), External Sources (bbls), Total Injection (bbls)
Rows: 184
Columns: 10
--------------------------------------------------
Sheet: Daily Prod_Inj & Pressures
Columns: Unit Name, API, District, Field, Battery, Date, Downtime, Operating Time, Allocated HCLiq, Allocated Gas, Allocated Water, Injection Well - Gas, Injection Well - Water, Tubing Pressure, Casing Pressure, Flowline Pressure, Choke Size, Fluid Level Depth, Gas-Free Fluid Level Above Pump, Fluid Level Above Pump, Bottomhole Pressure, Unnamed: 21, Unnamed: 22, Unnamed: 23
Rows: 27416
Columns: 24
--------------------------------------------------
Sheet: Monthly Prod_Inj
Columns: Unit Name, API, District, Field, Battery, Start Date, Downtime, Operating Time, Allocated HCLiq, Allocated Gas, Allocated Water, Injection Well - Gas, Injection Well - Water
Rows: 895
Columns: 13
--------------------------------------------------
Sheet: Well Tests
Columns: Unit Name, Type, Effective Date, Gas Volume Override, Recovered Lift Gas, Oil/Emulsion Volume Override, Water Volume Override, Gas Oil Ratio, Change in Oil/Emulsion Rate, % Change in Oil/Emulsion Rate, Change in Gas Rate, % Change in Gas Rate, Change in Water Rate, % Change in Water Rate, Change in GOR, % Change in GOR
Rows: 151
Columns: 16
--------------------------------------------------
Sheet: Downtimes
Columns: Unit Name, Type of Downtime Entry, First Day, Downtime on First Day, Downtime Code 1, Last Day, Downtime on Last Day, Total Downtime, Unnamed: 8
Rows: 145
Columns: 9
--------------------------------------------------
Sheet: Water Meters
Columns: Unit Name, Meter Name, Date, End Reading
Rows: 3060
Columns: 4
--------------------------------------------------
Sheet: Gas Meters
Columns: Unit Name, Gas Meters, Date, Gas Volume
Rows: 3615
Columns: 4
--------------------------------------------------

In [ ]:
total_rows = sum(filtered_df.shape[0] for filtered_df in filtered_data.values())
total_columns = sum(filtered_df.shape[1] for filtered_df in filtered_data.values())
print(total_rows)
print(total_columns)

35466
80